/* .desktop4-container {
  height: 2000px;
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  
} */
/* .desktop4-desktop4 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
} */

/* .custom-file-upload {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  /*font-size: 16px; 
  font-family: Arial, sans-serif;
  /* color: #ffffff; 
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
} */

.details-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.desktop4-text32 {
  font-size: 16px; 
  margin-right: 10px; 
}

.brand-name-input {
  padding: 8px;
  font-size: 16px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.desktop4-rectangle17 {
  margin-left: 10px;
  width: 200px; 
  height: auto; 
}


.bulk-orders-button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bulk-orders-button:hover {
  background-color: #0056b3;
}

.medium-orders-button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.medium-orders-button:hover {
  background-color: #0056b3;
}

.custom-orders-button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cutom-orders-button:hover {
  background-color: #0056b3;
}

.custom-file-upload span {
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}

.custom-file-upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.lowerbox{
  position: relative;
  top: -29px;
  right: -0.3px;
}

.desktop4-group1 {
  top: -27px;
  left: -1px;
  width: 1519px;
  height: 75px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(177, 148, 112, 1);
}
.desktop4-text {
  top: 25px;
  left: 1329px;
  color: rgba(113, 68, 35, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text02 {
  top: 25px;
  left: 1017px;
  color: rgba(113, 68, 35, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text04 {
  top: 25px;
  left: 1169px;
  color: rgba(113, 68, 35, 1);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text06 {
  top: 25px;
  left: 273px;
  color: rgba(113, 68, 35, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text08 {
  top: 25px;
  left: 27px;
  color: rgba(113, 68, 35, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text10 {
  top: 25px;
  left: 131px;
  color: rgba(113, 68, 35, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-rectangle11 {
  top: 75px;
  left: 0px;
  width: 1517px;
  height: 679px;
  position: relative;
}
.desktop4-text12 {
  top: 75px;
  left: 205px;
  color: rgba(113, 68, 35, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 54px;
  font-style: Regular;
  text-align: left;
  font-family: Dangrek;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-rectangle8 {
  top: 191px;
  left: 222.0701904296875px;
  width: 200px;
  height: 66px;
  position: absolute;
  border-color: rgba(113, 68, 35, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.desktop4-rectangle13 {
  top: 191px;
  left: 882.9298095703125px;
  width: 200px;
  height: 66px;
  position: absolute;
  border-color: rgba(113, 68, 35, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.desktop4-rectangle14 {
  top: 191px;
  left: 552.5px;
  width: 200px;
  height: 66px;
  position: absolute;
  border-color: rgba(113, 68, 35, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.desktop4-text14 {
  top: 200px;
  left: 553px;
  color: rgba(113, 68, 35, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text18 {
  top: 202px;
  left: 894px;
  color: rgba(113, 68, 35, 1);
  width: 177px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text20 {
  top: 202px;
  left: 246px;
  color: rgba(113, 68, 35, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text24 {
  top: 227px;
  left: 246px;
  color: rgba(113, 68, 35, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Tajawal;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text26 {
  top: 227px;
  left: 906px;
  color: rgba(113, 68, 35, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Tajawal;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text28 {
  top: 227px;
  left: 576px;
  color: rgba(113, 68, 35, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Tajawal;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text30 {
  top: 157px;
  left: 205px;
  color: rgba(113, 68, 35, 1);
  width: 398px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-rectangle16 {
  top: 276px;
  left: 484px;
  width: 600px;
  height: 35px;
  position: absolute;
  border-color: rgba(113, 68, 35, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.desktop4-text32 {
  top: 282px;
  left: 258px;
  color: rgba(113, 68, 35, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: right;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-rectangle17 {
  top: 629px;
  left: 485px;
  width: 600px;
  height: 35px;
  position: absolute;
  border-color: rgba(113, 68, 35, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.desktop4-text34 {
  top: 635px;
  left: 239px;
  color: rgba(113, 68, 35, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: right;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text36 {
  top: 332px;
  left: 258px;
  color: rgba(113, 68, 35, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: right;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text38 {
  top: 400px;
  left: 232px;
  color: rgba(113, 68, 35, 1);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: right;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-rectangle161 {
  top: 389px;
  left: 484px;
  width: 600px;
  height: 70px;
  position: absolute;
  border-color: rgba(113, 68, 35, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.desktop4-group10 {
  top: 334px;
  left: 483px;
  width: 600px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop4-rectangle162 {
  top: 0px;
  left: 0px;
  width: 600px;
  height: 35px;
  position: absolute;
  border-color: rgba(113, 68, 35, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.desktop4-rectangle171 {
  top: 0px;
  left: 0px;
  width: 110px;
  height: 35px;
  position: absolute;
}
.desktop4-text42 {
  top: 5px;
  left: 12px;
  color: rgba(240, 209, 162, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  /* line-height: normal; */
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text44 {
  top: 544px;
  left: 258px;
  color: rgba(113, 68, 35, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: right;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-rectangle163 {
  top: 544px;
  left: 485px;
  width: 600px;
  height: 70px;
  position: absolute;
  border-color: rgba(113, 68, 35, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.desktop4-text48 {
  top: 552px;
  left: 492px;
  color: rgba(113, 68, 35, 1);
  width: 582px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Tajawal;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text50 {
  top: 486px;
  left: 258px;
  color: rgba(113, 68, 35, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: right;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-rectangle164 {
  top: 482px;
  left: 484px;
  width: 600px;
  height: 35px;
  position: absolute;
  border-color: rgba(113, 68, 35, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.desktop4-rectangle172 {
  top: 482px;
  left: 485px;
  width: 110px;
  height: 35px;
  position: absolute;
}
.desktop4-text54 {
  top: 488px;
  left: 500px;
  color: rgba(240, 209, 162, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  /* line-height: normal; */
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text56 {
  top: 491px;
  left: 599px;
  color: rgba(113, 68, 35, 1);
  width: 481px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Tajawal;
  font-weight: 500;
  line-height: 10px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text58 {
  top: 369px;
  left: 485px;
  color: rgba(113, 68, 35, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Tajawal;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-text60 {
  top: 521px;
  left: 604px;
  color: rgba(113, 68, 35, 1);
  width: 528px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  /* font-size: 20px; */
  font-style: Bold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop4-group13 {
  top: 695px;
  left: 603px;
  width: 210px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop4-rectangle18 {
  top: 0px;
  left: 0px;
  width: 210px;
  height: 50px;
  position: absolute;
}
.desktop4-text62 {
  top: 12px;
  left: 29px;
  color: rgba(240, 209, 162, 1);
  width: 161px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Tajawal;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
